// Standart class [START]
* {
  border: 0 none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::after,
  &::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

a {
  transition: all 0.3s ease-in-out;
  color: $c_link;
  text-decoration: none;

  &.link_to_block {
    left: 0;
    position: absolute;
    top: 0;
  }
}

html {
  font-family: $font_main;
  font-size: 16px;
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
  width: 100%;

  &.overflow-hidden {
    overflow: hidden;
  }
}

body {
  font-family: $font_main;
  font-size: 16px;
  margin: 0 auto;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}

br {
  clear: both;
}

fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.2em;
  line-height: 1.2;
  margin: 0 0 1em;
  padding: 0;
  text-align: center;
  text-indent: 0;
  text-transform: none;
}

h2 {
  font-size: 1.4em;
  line-height: 1.4em;
  margin: 0 0 0.6em;
  padding: 0;
  text-align: center;
  text-indent: 0;
  text-transform: uppercase;

  a,
  a:visited {
    text-decoration: none;
  }
}

h3 {
  font-size: 32px;
  text-align: left;
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }
}

h4 {
  color: #000;
  font-size: 20px;
  font-weight: normal;
  line-height: 100%;
  margin: 0 0 1em;
  text-align: left;
}

hr {
  height: 2px;
  display: block;
  margin: 3% 0;
  overflow: hidden;
  width: 100%;
}

iframe {
  border: 0 none;
  display: block;
  height: 100%;
  margin: 20px auto;
  width: 70%;
}

img {
  border: 0 none;
  margin: 0;
  max-width: 100%;
}

input {
  border: 0 none;
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
  padding: 0.5em 1em;
  @extend .b-input;
}

p {
  margin: 0.6rem 0;
  padding: 0;
  text-indent: 0;
}

pre {
  display: block;
  overflow: scroll;
}

strong {
  font-family: $font_lilita_one;
}

table {
  border: 0 none;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

ul {
  list-style: none;

  li {
    list-style: none;
  }
}
// Standart class [END]

// help classes [START]
.absolute {
  position: absolute;
}

.clear {
  clear: both;
}

// font-sizes [START]
$fontSizes: 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30;

@each $fontSize in $fontSizes {
  .fs#{$fontSize} {
    font-size: #{$fontSize}px;
  }
}
// font-sizes [END]

.hidden {
  display: none;
}

.no-js {
  .fa {
    display: none;
  }
}

.nobr {
  white-space: nowrap;
}

.preload {
  * {
    transition: none !important;
  }
}

.text-center {
  text-align: center;
  text-indent: 0;
}

.text-justify {
  text-align: justify;
  text-indent: 0;
}

.text-left {
  text-align: left;
  text-indent: 0;
}

.text-right {
  text-align: right;
  text-indent: 0;
}

.uppercase {
  text-transform: uppercase;
}

.wrap {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 var(--spacer);
}
// help classes [END]
