$i: '/wp-content/themes/banskostretching/i';
$icons: $i + '/icons';

// colors
$c_border: rgba(#000, 0.1);
$c_content_bg: #ededed;
$c_highlight: #55c3f0; // 85,195,240
$c_link: #0e1c36;
$c_primary: #ff8da1;
$c_secondary: #383882; // 56,56,130
$c_text: #101316;
$c_title: #101316;

$border_radius: 16px;

$spacer: 24px;

$transition: all 0.3s ease-in-out;

// @medias
$media_desktop: 'max-width: 1279px';
$media_mobile: 'max-width: 767px';
$media_tablet: 'max-width: 1023px';

// fonts
$font_main: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
$font_lilita_one: 'Lilita One', Arial, Helvetica, sans-serif;
$font_ubuntu_cond: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;

// fonts array [START]
//$fontNames: aldi_sued_bold, aldi_sued_reg;
//
//@each $fontName in $fontNames {
//	@font-face {
//		font-family: '#{$fontName}';
//		src: url('fonts/#{$fontName}.woff2') format('woff2'),
//		url('fonts/#{$fontName}.woff') format('woff'),
//		url('fonts/#{$fontName}.ttf') format('truetype');
//	}
//}
// fonts array [END]
