.btn {
  border: 0 none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: calc($spacer / 2) $spacer;
  text-decoration: none;
  text-transform: uppercase;
  transition: $transition;

  &--cart {
    padding: 0.5em 1em;
  }

  &--primary {
    background-color: $c_primary;
    color: #fff;
    font-weight: 700;

    &:hover {
      opacity: 0.8;
    }
  }

  &--secondary {
    font-weight: 300;
  }
}
