// Standart class [START]
body {
  color: $c_text;
  font-family: $font_main;
}

h1 {
  color: $c_link;
  font-family: $font_lilita_one;
  font-size: 2.9rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 3rem 0;
  text-align: center;
  text-transform: uppercase;
}

ol {
  counter-reset: item;
  list-style: none;

  li {
    display: block;

    &::before {
      content: counters(item, '.') '. ';
      counter-increment: item;
    }
  }
}

svg {
  height: auto;
  width: auto;
}

// Standart class [END]

// ID [START]
// ID [END]

// help classes [START]

.account_nav {
  margin-bottom: var(--spacer);
  width: 100%;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--spacer) / 2);
    width: 100%;
  }
}

.account_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacer);
}

.breadcrumbs {
  align-items: center;
  color: $c_primary;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  gap: calc(var(--spacer) / 2);
  margin: var(--spacer) 0;

  a,
  a:visited {
    color: $c_link;
    display: block;

    &:hover {
      color: $c_primary;
    }

    &:first-child {
      background: url(#{$icons}/home.svg) no-repeat center center;
      background-size: contain;
      font-size: 0;
      height: 16px;
      width: 16px;
    }
  }
}

.cart_link {
  &--icon {
    position: relative;
    z-index: 1;
  }

  &--count {
    align-items: center;
    background-color: $c_primary;
    border-radius: 50%;
    bottom: 4px;
    color: #fff;
    display: flex;
    font-size: 12px;
    justify-content: center;
    min-height: 20px;
    min-width: 20px;
    position: absolute;
    right: 4px;
    z-index: 3;
  }
}

.checkbox {
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 0 0 0.3em;
  position: relative;

  &__input {
    left: -9999px;
    position: absolute;

    &:checked {
      + .checkbox__title {
        &::after {
          display: block;
        }

        &::before {
          background-color: $c_primary;
        }
      }
    }
  }

  &__title {
    padding: 0 0 0 24px;
    position: relative;
    transition: $transition;

    &::after,
    &::before {
      content: '';
      left: 0;
      top: 1px;
      position: absolute;
      z-index: 1;
    }

    &::before {
      border: 1px solid $c_border;
      height: 18px;
      width: 18px;
    }

    &::after {
      color: #fff;
      content: '✔';
      display: none;
      font-size: 14px;
      left: 3px;
      top: 1px;
      z-index: 3;
    }

    &:hover {
      color: $c_primary;
    }
  }
}

.copyright {
  font-size: 0.7rem;
  margin: 2rem 0;
  text-align: center;
}

.edit {
  @extend .btn;
  @extend .btn--secondary;
}

.greetings {
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 30rem;
  text-align: center;
  width: 100%;
}

.ig_wrap {
  position: relative;

  .es-widget {
    z-index: 1;
  }

  &::after {
    background-color: #fff;
    bottom: 0;
    content: '';
    height: 56px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 9;
  }
}

.input {
  background-color: #f2f2f2;
  border-radius: var(--border_radius);
  color: $c_text;
  font-size: 16px;
  max-width: 300px;
  padding: var(--spacer);
  width: 100%;

  &:active,
  &:focus,
  &:hover {
    background-color: #f2f2f2;
    border: none;
  }
}

.logo {
  background: url(#{$icons}/favicon/favicon.svg) 0 0 scroll transparent;
  background-size: contain;
  display: block;
  height: 40px;
  width: 40px;

  &:hover {
    opacity: 0.5;
  }
}

.page-my-account {
  .entry-content {
    .woocommerce {
      align-items: flex-start;
      // display: flex;
      gap: var(--spacer);

      @media ($media_tablet) {
        flex-direction: column;
      }
    }
  }

  .woocommerce-EditAccountForm {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .woocommerce-form-row {
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .clear {
      display: none;
    }

    fieldset {
      display: flex;
      flex-direction: column;
      gap: 24px;

      legend {
        font-size: 24px;
        font-weight: 700;
        color: #040f16;
        margin-bottom: 16px;
      }
    }
  }

  .woocommerce-MyAccount-content {
    background-color: #ffffff;
    padding: 64px 48px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 460px;
    width: 100%;

    @media ($media_mobile) {
      padding: 32px 24px;
    }

    .woocommerce-address-fields__field-wrapper {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 24px;
    }

    .form-row {
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
      grid-column: span 1 / span 1;
    }

    .input-text {
      width: 100%;
    }

    button[type='submit'] {
      @extend .btn;
      @extend .btn--primary;

      margin: var(--spacer) auto 0;
    }
  }
}

.price {
  align-items: center;
  background-color: $c_secondary;
  border-radius: var(--border_radius);
  color: #fff;
  display: flex;
  font-size: 16px;
  padding: calc(var(--spacer) / 2) var(--spacer);
}

.site-main {
  .breadcrumbs {
    display: none;
  }
}

.vimeo-container {
  border-radius: var(--border_radius);
  overflow: hidden;
  position: relative;

  iframe {
    margin: 0;
    height: 500px;
    width: 100%;
  }
}
// help classes [END]
