// Standart class [START]
body {
  color: $c_text;
  font-family: $font_main;
}

h1 {
  color: $c_title;
  font-family: $font_lilita_one;
  font-size: 2.9rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 3rem 0;
  text-align: center;
  text-transform: uppercase;
}

ol {
  counter-reset: item;
  list-style: none;

  li {
    display: block;

    &::before {
      content: counters(item, '.') '. ';
      counter-increment: item;
    }
  }
}

svg {
  height: auto;
  width: auto;
}

// Standart class [END]

// ID [START]
// ID [END]

// help classes [START]
.cart_link {
  &--icon {
    position: relative;
    z-index: 1;
  }

  &--count {
    align-items: center;
    background-color: $c_primary;
    border-radius: 50%;
    bottom: 4px;
    color: #fff;
    display: flex;
    font-size: 12px;
    justify-content: center;
    min-height: 20px;
    min-width: 20px;
    position: absolute;
    right: 4px;
    z-index: 3;
  }
}

.copyright {
  font-size: 0.7rem;
  margin: 2rem 0;
  text-align: center;
}

.greetings {
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 30rem;
  text-align: center;
  width: 100%;
}

.ig_wrap {
  position: relative;

  .es-widget {
    z-index: 1;
  }

  &::after {
    background-color: #fff;
    bottom: 0;
    content: '';
    height: 56px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 9;
  }
}

.logo {
  background: url(#{$icons}/favicon/favicon.svg) 0 0 scroll transparent;
  background-size: contain;
  display: block;
  height: 40px;
  width: 40px;

  &:hover {
    opacity: 0.5;
  }
}

.price {
  align-items: center;
  background-color: $c_secondary;
  border-radius: $border_radius;
  color: #fff;
  display: flex;
  font-size: 16px;
  padding: calc($spacer / 2) $spacer;
}
// help classes [END]
