.footer {
  background: linear-gradient(45deg, $c_secondary 0%, rgba($c_secondary, 0.9) 100%);
  border-radius: ($border_radius * 2) ($border_radius * 2) 0 0;
  color: #fff;
  margin: $spacer 0 0;
  padding: 3rem 0;

  &__lang {
    margin: 0 auto $spacer;
    text-align: center;
    width: 60px;
  }
}

.footer_links {
  display: flex;
  justify-content: center;

  &__img {
    height: 100%;
    max-width: 50px;
    width: 100%;
  }

  &__item {
    margin: 0 1rem;
  }

  &__link {
    display: block;
    height: 50px;
    width: 50px;
  }
}

.footer_menu {
  display: flex;
  font-size: 12px;
  justify-content: center;
  margin: $spacer 0;

  a {
    color: $c_text;
  }
}
