.footer {
  padding: 3rem 0;
  border-top: 1px solid $c_border;

  &__lang {
    margin: 0 auto 24px;
    text-align: center;
    width: 60px;
  }
}

.footer_links {
  display: flex;
  justify-content: center;

  &__img {
    height: 100%;
    max-width: 50px;
    width: 100%;
  }

  &__item {
    margin: 0 1rem;
  }

  &__link {
    display: block;
    height: 50px;
    width: 50px;
  }
}

.footer_menu {
  display: flex;
  font-size: 12px;
  justify-content: center;
  margin: $spacer 0;

  a {
    color: $c_text;
  }
}
