.header {
  background-color: #fff;
  border-radius: 0 0 32px 32px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -4px rgba(0, 0, 0, 0.05);
  margin: 0 0 var(--spacer);
  padding: var(--spacer) 0;
  width: 100%;

  &__actions {
    align-items: center;
    display: flex;

    .btn-cart {
      @media ($media_mobile) {
        display: none;
      }
    }
  }

  &__wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--spacer);
    width: 100%;
  }
}

.header-user-menu {
  position: relative;

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $c_border;
    cursor: pointer;
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 24px);
    right: 0;
    background-color: #fff;
    width: 277px;
    padding: 32px;
    border: 1px solid $c_border;
    border-radius: 32px;
    display: none;

    &::before {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: '';
    }

    .nav__menu {
      display: flex;
      flex-direction: column;
      gap: 14px;

      li {
        width: 100%;

        a,
        a:visited {
          align-items: center;
          border-radius: 8px;
          color: $c_link;
          display: flex;
          height: 36px;
          padding: 0 16px;
          position: relative;
          position: relative;
          text-decoration: none;
          transition: $transition;
          width: 100%;
          z-index: 2;

          &:hover {
            background-color: $c_border;
            opacity: 0.8;
          }
        }

        &:last-child {
          a,
          a:visited {
            border-radius: 0;
            border-top: 1px solid $c_border;
            color: $c_primary;

            &:hover {
              background: none;
            }
          }
        }
      }
    }
  }
}
