.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 116px;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05),
    0 4px 6px -4px rgba(0, 0, 0, 0.05);

  @media ($media_mobile) {
    height: 104px;
    border-radius: 0 0 32px 32px;
  }

  &__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: $wrap;
    margin: 0 auto;
    padding: 0 $wrap_padding;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 12px;

    .btn-cart {
      @media ($media_mobile) {
        display: none;
      }
    }
  }

  &__burger {
    .b-btn {
      span {
        @media ($media_mobile) {
          display: none;
        }
      }
    }
  }

  .nav {
    margin: 0 auto;
  }
}

.header-user-menu {
  position: relative;

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $c_rich_black_20;
    cursor: pointer;
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 24px);
    right: 0;
    background-color: #fff;
    width: 277px;
    padding: 32px;
    border: 1px solid $c_rich_black_20;
    border-radius: 32px;
    display: none;

    &::before {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
    }

    .nav__menu {
      display: flex;
      flex-direction: column;
      gap: 14px;

      li {
        width: 100%;

        a,
        a:visited {
          color: $c_link;
          text-decoration: none;
          position: relative;
          height: 36px;
          padding: 0 16px;
          transition: $transition;
          width: 100%;
          display: flex;
          align-items: center;
          border-radius: 8px;

          &:hover {
            opacity: 0.8;
            background-color: #f6f6f6;
          }
        }

        &:last-child {
          a,
          a:visited {
            border-top: 1px solid $c_rich_black_20;
            color: $c_burgundy;
            border-radius: 0;

            &:hover {
              background: none;
            }
          }
        }
      }
    }
  }
}
