.products-page {
  .site-main {
    @extend .wrap;
  }
}

.page-title {
  text-align: left;
}

.woocommerce-result-count {
  display: none;
}

.woocommerce-ordering {
  display: none;
}

.woocommerce-breadcrumb {
  a,
  a:visited {
    color: #040f16;
    text-decoration: none;
    font-size: 16px;
  }
}
