.login {
  margin: 0 auto;
  background-color: #ffffff;
  padding: 64px 48px;
  max-width: 540px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media ($media_mobile) {
    padding: 32px 24px;
  }

  .woocommerce-form-row {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    input {
      @extend .b-input;
      width: 100%;
    }

    .password-input {
      display: flex;
      align-items: center;
      position: relative;

      input {
        padding-right: 64px;
      }

      .show-password-input {
        @extend .b-icon;
        position: absolute;
        right: 32px;
        background-image: url(#{$icons}/eye-open.svg);
        width: 24px;
        height: 24px;
        cursor: pointer;

        &.display-password {
          background-image: url(#{$icons}/eye-closed.svg);
        }
      }
    }
  }

  .form-row {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .button {
      @extend .b-btn;
      @extend .b-btn--primary;
    }
  }

  .lost_password {
    margin: 0;

    a {
      @extend .b-link;
      justify-content: center;
    }
  }
}
