.login {
  background-color: #fff;
  border-radius: 32px;
  border: 1px solid rgba(#000, 0.1);
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  margin: 0 auto;
  max-width: 400px;
  padding: calc(var(--spacer) * 2);
  width: 100%;

  .woocommerce-form-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    width: 100%;

    .password-input {
      align-items: center;
      display: flex;
      position: relative;

      input {
        padding-right: 64px;
      }

      .show-password-input {
        background: url(#{$icons}/eye-open.svg) center no-repeat transparent;
        background-size: contain;
        cursor: pointer;
        height: 24px;
        position: absolute;
        right: 32px;
        width: 24px;

        &.display-password {
          background-image: url(#{$icons}/eye-closed.svg);
        }
      }
    }
  }

  .form-row {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .button {
      @extend .btn;
      @extend .btn--primary;
    }
  }

  .lost_password {
    margin: 0;

    a {
      @extend .btn;
      @extend .btn--link;
      // @extend .link;

      justify-content: center;
    }
  }
}
