.nav {
  display: flex;
  justify-content: center;

  &__menu {
    display: flex;
    justify-content: center;

    a {
      color: $c_primary;
      display: block;
      padding: calc($spacer / 2);
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        background-color: $c_highlight;
        color: #fff;
      }
    }
  }
}
