.product-page {
  .product {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: $spacer;

    .product-title {
      font-size: 40px;
      margin-top: 32px;
      text-align: left;
      text-transform: capitalize;
      width: 100%;
    }

    .product-description {
      font-size: 20px;
      margin-top: 24px;
      max-width: 674px;
      width: 100%;

      p {
        margin: 0;
      }
    }

    .product-purchase {
      align-items: center;
      display: flex;
      gap: $spacer;
      justify-content: space-between;
      margin-top: auto;
      width: 100%;

      @media ($media_mobile) {
        flex-wrap: wrap;
        margin-top: $spacer;
      }
    }

    .product_price {
      align-items: center;
      display: flex;
      font-size: 24px;
      gap: calc($spacer / 2);

      .amount {
        color: #fff;
        font-size: 20px;
        background-color: $c_primary;
        height: 44px;
        display: flex;
        border-radius: 16px;
        align-items: center;
        padding: 0 $spacer;
        width: fit-content;
      }
    }

    .product-image {
      border-radius: 32px;
      height: 556px;
      overflow: hidden;
      width: 508px;

      @media screen and (max-width: 1279px) {
        height: 400px;
        order: -1;
        width: 100%;
      }

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .entry-content {
      background: #ededed;
      border-radius: 32px;
      overflow: hidden;
      display: flex;
      width: calc(100% - 508px - 24px);
      padding: 72px calc($spacer * 2);
      flex-direction: column;
      height: 556px;

      @media screen and (max-width: 1279px) {
        width: 100%;
      }

      @media ($media_mobile) {
        height: auto;
        padding: calc($spacer * 2) $spacer;
      }
    }

    .course-details {
      width: 100%;
    }

    .course-info {
      display: flex;
      gap: calc($spacer * 2);

      @media ($media_mobile) {
        gap: $spacer;
        flex-wrap: wrap;
      }

      .course-duration,
      .course-level {
        font-size: 16px;
        text-transform: capitalize;

        h3 {
          font-size: 16px;
          font-weight: 400;
          text-transform: capitalize;
        }

        p {
          font-weight: 700;
        }
      }
    }

    .course-details {
      border-radius: 32px;
      border: 1px solid rgba(4, 15, 22, 0.2);
      margin-top: $spacer;
      padding: 64px 56px;

      @media ($media_mobile) {
        padding: 48px 24px;
      }
    }

    .course-lessons {
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      gap: 48px;

      h3 {
        text-align: left;
        font-size: 32px;
        text-transform: lowercase;

        &:first-letter {
          text-transform: uppercase;
        }
      }
    }

    .lesson-item {
      border-bottom: 1px solid #040f16;
      padding-bottom: 48px;
      margin: 0;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      h4 {
        font-size: 20px;
        margin: 0;
        text-align: left;
      }

      p {
        display: none;
      }

      .vimeo-container {
        position: relative;

        iframe {
          height: 500px;
          left: 0;
          top: 0;
          width: 100%;
        }
      }

      .video-access-restricted {
        display: flex;
        border-radius: 24px;
        padding: 48px;
        margin-top: $spacer;
        align-items: center;
        background-color: #ededed;
        justify-content: space-between;

        @media ($media_mobile) {
          padding: $spacer;
          flex-direction: column;
          gap: 12px;
        }
      }
    }

    .what-you-learn {
      h3 {
        text-align: left;
        font-size: 32px;
        text-transform: lowercase;

        &:first-letter {
          text-transform: uppercase;
        }
      }

      ul {
        list-style: none;
        margin-top: $spacer;
        display: flex;
        flex-direction: column;
        gap: 12px;

        li {
          font-size: 16px;
        }
      }
    }
  }
}
