.products-page {
  .products {
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
    margin-top: 40px;
  }

  .product {
    position: relative;

    .added_to_cart {
      display: none;
    }

    .button {
      @extend .btn;
      @extend .btn--primary;

      bottom: var(--spacer);
      position: absolute;
      right: var(--spacer);
      z-index: 2;

      @media ($media_mobile) {
        width: calc(100% - 48px);
      }
    }

    .woocommerce-loop-product__link {
      align-items: flex-start;
      background-color: #fbfbfb;
      border-radius: 32px;
      border: 1px solid $c_border;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 224px;
      overflow: hidden;
      padding: var(--spacer) var(--spacer) var(--spacer) calc(35% + var(--spacer));
      position: relative;
      text-decoration: none;
      z-index: 1;

      @media ($media_mobile) {
        border-radius: 24px;
        height: auto;
        padding: var(--spacer) var(--spacer) 86px;
      }

      &:hover {
        opacity: 0.8;
      }

      img {
        height: 100%;
        left: 0;
        margin: 0;
        object-fit: cover;
        padding: 0;
        position: absolute;
        top: 0;
        width: 35%;

        @media ($media_mobile) {
          height: auto;
          margin: (-var(--spacer)) (-var(--spacer)) var(--spacer);
          max-width: none;
          position: relative;
          width: calc(100% + calc(var(--spacer) * 2));
        }
      }

      .woocommerce-loop-product__title {
        color: $c_link;
        font-size: 24px;
        text-transform: capitalize;
      }
    }
  }

  .site-main {
    @extend .wrap;
  }
}

.products {
  display: grid;

  &.columns-2 {
    grid-template-columns: repeat(2, 1fr);

    @media ($media_tablet) {
      grid-template-columns: 1fr;
    }
  }

  &.columns-3 {
    grid-template-columns: repeat(3, 1fr);

    @media ($media_tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media ($media_mobile) {
      grid-template-columns: 1fr;
    }
  }

  &.columns-4 {
    grid-template-columns: repeat(4, 1fr);

    @media ($media_tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media ($media_mobile) {
      grid-template-columns: 1fr;
    }
  }
}
