.product {
  background-color: #fbfbfb;
  border-radius: 32px;
  border: 1px solid $c_border;

  a,
  a:visited {
    display: flex;

    img {
      max-width: 375px;
      height: 100%;
      object-fit: cover;
    }
  }
}
