.products-page {
  .products {
    display: flex;
    flex-direction: column;
    gap: $spacer;
    margin-top: 40px;
  }

  .product {
    position: relative;

    .added_to_cart {
      display: none;
    }

    .button {
      @extend .btn;
      @extend .btn--primary;

      bottom: $spacer;
      position: absolute;
      right: $spacer;
      z-index: 2;

      @media ($media_mobile) {
        width: calc(100% - 48px);
      }
    }

    .woocommerce-loop-product__link {
      align-items: flex-start;
      background-color: #fbfbfb;
      border-radius: 32px;
      border: 1px solid $c_border;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 224px;
      overflow: hidden;
      padding: $spacer $spacer $spacer calc(35% + $spacer);
      position: relative;
      text-decoration: none;
      z-index: 1;

      @media ($media_mobile) {
        border-radius: 24px;
        height: auto;
        padding: $spacer;
      }

      &:hover {
        opacity: 0.8;
      }

      img {
        height: 100%;
        left: 0;
        margin: 0;
        object-fit: cover;
        padding: 0;
        position: absolute;
        top: 0;
        width: 35%;

        @media ($media_mobile) {
          height: auto;
          margin: (-$spacer) (-$spacer) $spacer;
          max-width: none;
          position: relative;
          width: calc(100% + $spacer * 2);
        }
      }

      .woocommerce-loop-product__title {
        color: $c_title;
        font-size: 24px;
        text-transform: capitalize;
      }
    }
  }
}
