.product-page {
  .product {
    display: flex;
    gap: var(--spacer);
    flex-wrap: wrap;

    .course-details {
      border-radius: calc(var(--border_radius) * 2);
      border: 1px solid $c_border;
      padding: calc(var(--spacer) * 2);
      width: 100%;
    }

    .course-info {
      display: flex;
      gap: calc(var(--spacer) * 2);

      @media ($media_mobile) {
        gap: var(--spacer);
        flex-wrap: wrap;
      }

      .course-duration,
      .course-level {
        font-size: 16px;

        h3 {
          text-transform: capitalize;
        }

        p {
          font-weight: 700;
        }
      }
    }

    .course-lessons {
      display: flex;
      flex-direction: column;
      gap: calc(var(--spacer) * 2);
      margin-top: calc(var(--spacer) * 2);

      h3 {
        font-size: 24px;
        text-align: left;
      }
    }

    .entry-content {
      background-color: $c_border;
      border-radius: calc(var(--border_radius) * 2);
      display: flex;
      flex-direction: column;
      padding: calc(var(--spacer) * 2);
      width: 60%;

      @media ($media_desktop) {
        width: 100%;
      }
    }

    .lesson-item {
      border-bottom: 1px solid $c_border;
      padding-bottom: calc(var(--spacer) * 2);

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      p {
        display: none;
      }

      .video-access-restricted {
        align-items: center;
        background-color: $c_border;
        border-radius: var(--border_radius);
        display: flex;
        gap: var(--spacer);
        justify-content: space-between;
        margin-top: var(--spacer);
        padding: var(--spacer);

        @media ($media_mobile) {
          flex-direction: column;
        }
      }
    }

    .product-description {
      font-size: 20px;
      margin: var(--spacer) 0;
      width: 100%;

      p {
        margin: 0;
      }
    }

    .product-image {
      border-radius: calc(var(--border_radius) * 2);
      overflow: hidden;
      width: 38%;

      @media ($media_desktop) {
        max-height: 400px;
        order: -1;
        width: 100%;
      }

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .product_price {
      align-items: center;
      display: flex;
      font-size: 24px;
      gap: calc(var(--spacer) / 2);
    }

    .product-purchase {
      align-items: center;
      display: flex;
      gap: var(--spacer);
      justify-content: space-between;
      margin-top: auto;
      width: 100%;

      @media ($media_mobile) {
        flex-wrap: wrap;
        margin-top: var(--spacer);
      }
    }

    .what-you-learn {
      ul {
        list-style: none;
        margin-top: var(--spacer);
        display: flex;
        flex-direction: column;
        gap: var(--spacer) / 2;

        li {
          font-size: 16px;
        }
      }
    }
  }
}

////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
// TODO | ref code above

.product_price {
  .amount {
    @extend .price;
  }
}

.products_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacer);

  @media ($media_tablet) {
    grid-template-columns: 1fr;
  }

  &__item {
    align-items: flex-start;
    border-radius: var(--border_radius);
    border: 1px solid $c_border;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 224px;
    overflow: hidden;
    padding: var(--spacer) var(--spacer) var(--spacer) calc(35% + var(--spacer));
    position: relative;
    text-decoration: none;
    z-index: 1;

    @media ($media_mobile) {
      border-radius: 24px;
      height: auto;
      padding: var(--spacer) var(--spacer) 86px;
    }

    .woocommerce-loop-product__title {
      color: $c_link;
      font-size: 24px;
      text-transform: capitalize;
    }
  }

  &__link {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    &:hover {
      opacity: 0.8;
    }
  }

  &__thumb {
    img {
      height: 100%;
      left: 0;
      margin: 0;
      object-fit: cover;
      padding: 0;
      position: absolute;
      top: 0;
      width: 35%;

      @media ($media_mobile) {
        height: auto;
        margin: (-var(--spacer)) (-var(--spacer)) var(--spacer);
        max-width: none;
        position: relative;
        width: calc(100% + calc(var(--spacer) * 2));
      }
    }
  }
}

.product_title {
  margin: 0 0 1em;
  width: 100%;
}
