.reviews {
  font-size: 20px;
  margin: var(--spacer) auto calc(var(--spacer) * 3);
  max-width: 500px;
  padding: 0 calc(var(--spacer) * 2);
  position: relative;
  width: 100%;

  &__item {
    position: relative;
  }

  &__name {
    font-size: 0.8em;
    margin: var(--spacer) 0 0;
    opacity: 0.7;
    text-align: right;
  }
}
