.sidebar {
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: $transition;
  visibility: hidden;
  width: 100%;
  z-index: 1000;

  &.is-open {
    opacity: 1;
    visibility: visible;

    .sidebar__content {
      transform: translateX(0);
    }
  }

  &__overlay {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 400px;
    overflow-y: auto;
    position: relative;
    transform: translateX(-100%);
    transition: $transition;
    width: 100%;
  }

  &__header {
    border-bottom: 1px solid $c_border;
    display: flex;
    justify-content: flex-end;
    padding: var(--spacer);
  }

  &__nav {
    padding: var(--spacer);

    .nav_menu {
      display: flex;
      flex-direction: column;

      .current-menu-item {
        a,
        a:visited {
          color: $c_primary;
        }
      }

      li {
        width: 100%;

        a,
        a:visited {
          @extend .btn;
          @extend .btn--link;

          border-radius: calc(var(--border_radius) / 2);
          color: $c_link;
          display: block;
          padding: calc(var(--spacer) / 2) var(--spacer);
          position: relative;
          text-decoration: none;
          transition: $transition;
          width: 100%;

          &:hover {
            opacity: 0.8;
            background-color: #f6f6f6;
          }
        }
      }
    }
  }
}
