.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: $transition;

  &.is-open {
    visibility: visible;
    opacity: 1;

    .sidebar__content {
      transform: translateX(0);
    }
  }

  &__overlay {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 400px;
    overflow-y: auto;
    position: relative;
    transform: translateX(-100%);
    transition: $transition;
    width: 100%;
  }

  &__header {
    border-bottom: 1px solid $c_border;
    display: flex;
    justify-content: flex-end;
    padding: var(--spacer);
  }

  &__nav {
    padding: 24px;

    .nav__menu {
      display: flex;
      flex-direction: column;
      gap: 14px;

      li {
        width: 100%;

        a,
        a:visited {
          color: $c_link;
          text-decoration: none;
          position: relative;
          height: 36px;
          padding: 0 16px;
          transition: $transition;
          width: 100%;
          display: flex;
          align-items: center;
          border-radius: 8px;

          &:hover {
            opacity: 0.8;
            background-color: #f6f6f6;
          }
        }
      }
    }
  }
}
