@charset "utf-8";
// sCSS Document
// Powered by Denis FOX | dfox@foxartbox.com

// // should be first
@import 'vars';
@import '_defaults';

@import 'btn';
@import 'footer';
@import 'header';
@import 'hero';
@import 'insta';
@import 'lang_change';
@import 'login';
@import 'owl.carousel';
@import 'product';
@import 'products';
@import 'reviews';
@import 'sidebar';
@import 'woocommerce_custom';

// // must be the last
@import 'custom';
