.b-btn {
  align-items: center;
  background: transparent;
  border-radius: 32px;
  border: 1px solid $c_border;
  color: $c_text;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  gap: 16px;
  height: 64px;
  justify-content: center;
  outline: none;
  padding: 0 $spacer;
  text-decoration: none;
  transition: $transition;

  &:hover,
  &:focus,
  &:active {
    background: transparent;
    opacity: 0.8;
  }

  &--small {
    height: 48px;
    padding: 0 16px;
    font-size: 16px;
    border-radius: 24px;
    gap: 8px;
  }

  &--primary {
    background-color: #040f16;
    color: #fff;
    font-weight: 700;

    &:hover,
    &:focus,
    &:active {
      background-color: #040f16;
      color: #fff;
      opacity: 0.8;
    }
  }
}

.b-icon {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;

  &--burger {
    background-image: url(#{$icons}/burger.svg);
  }
}
