.b-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 64px;
  padding: 0 24px;
  font-size: 20px;
  background: transparent;
  border: 1px solid $c_rich_black_20;
  outline: none;
  color: $c_text;
  text-decoration: none;
  border-radius: 32px;
  transition: $transition;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background: transparent;
    opacity: 0.8;
  }

  &--small {
    height: 48px;
    padding: 0 16px;
    font-size: 16px;
    border-radius: 24px;
    gap: 8px;
  }
}

.b-icon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
}

.b-icon--burger {
  background-image: url(#{$icons}/burger.svg);
}
