.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link,
.wc-block-components-button {
  @extend .btn;
  @extend .btn--primary;
}

.woocommerce-MyAccount-content,
.woocommerce-billing-fields,
.woocommerce-checkout {
  select,
  select.country_select,
  select.state_select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #f2f2f2;
    border-radius: var(--border_radius);
    border: none;
    color: #040f16;
    cursor: pointer;
    font-size: 16px;
    height: 64px;
    padding-right: 64px;
    padding: 0 32px;
    width: 100%;

    &:active,
    &:focus,
    &:hover {
      background-color: #f2f2f2;
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}

.select2-container {
  width: 100% !important;

  .select2-selection--single {
    background: #f2f2f2;
    height: 64px;
    color: #040f16;
    border-radius: 16px !important;
    padding: 0 32px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;

    .select2-selection__rendered {
      font-size: 16px;
      line-height: 64px;
      color: #040f16;
      padding: 0;
      font-style: normal;
    }

    .select2-selection__arrow {
      height: 64px;
      right: 32px;
    }

    &:hover,
    &:focus {
      background: #f2f2f2;
      border: none;
      outline: none;
    }
  }

  .select2-dropdown {
    border-radius: 16px !important;
    padding: 12px;
    border: none;
    background: #f2f2f2;
  }

  .select2-search__field {
    @extend .b-input;
    border: none !important;
    height: 48px;
    background-color: #fff;

    &:focus,
    &:active,
    &:hover {
      background-color: #fff;
      border: none;
      outline: none;
    }
  }

  .select2-results__options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 0 0;
    margin: 12px 0 0;
    border-top: 1px solid #e0e0e0;
  }

  .select2-results__option {
    border-radius: 12px;
    min-height: 48px;
    display: flex;
    align-items: center;

    &.select2-results__option--highlighted {
      background: #040f16;
    }
  }
}

.woocommerce-orders-table {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .woocommerce-button {
    @extend .b-link;
  }

  thead {
    display: flex;
    width: 100%;

    @media ($media_mobile) {
      display: none;
    }

    tr {
      display: flex;
      width: 100%;
      gap: 20px;
      padding: 16px;
      border-radius: 16px;
      background-color: #f6f6f6;

      th {
        width: 20%;
        text-align: left;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: #666;

        &:first-child {
          width: 20%;
        }

        &:last-child {
          width: 20%;
        }
      }
    }
  }

  tbody {
    display: flex;
    flex-direction: column;
    gap: 16px;

    tr {
      display: flex;
      width: 100%;
      gap: 20px;
      padding: 16px;
      border-radius: 16px;
      border: 1px solid rgba(0, 0, 0, 0.1);

      @media ($media_mobile) {
        flex-direction: column;
      }

      td {
        width: 20%;

        @media ($media_mobile) {
          width: 100%;
        }

        &::before {
          content: none;
          font-weight: 700;
          display: block;
          margin-bottom: 4px;
          color: #666;
          font-size: 12px;
          text-transform: uppercase;

          @media ($media_mobile) {
            content: attr(data-title);
          }
        }
      }

      th {
        text-align: left;
        width: 20%;

        @media ($media_mobile) {
          width: 100%;
        }

        &::before {
          content: none;
          font-weight: 700;
          display: block;
          margin-bottom: 4px;
          color: #666;
          font-size: 12px;
          text-transform: uppercase;

          @media ($media_mobile) {
            content: attr(data-title);
          }
        }
      }
    }
  }
}

.woocommerce-input-wrapper {
  width: 100%;
}

.woocommerce-breadcrumb {
  a,
  a:visited {
    color: $c_link;
    font-size: 16px;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.woocommerce-ordering {
  display: none;
}

.woocommerce-result-count {
  display: none;
}
