.select2-container {
  width: 100% !important;

  .select2-selection--single {
    align-items: center;
    background: #f2f2f2;
    border-radius: 16px !important;
    border: none;
    color: #040f16;
    display: flex;
    height: 64px;
    outline: none;
    padding: 0 32px;

    .select2-selection__rendered {
      color: #040f16;
      font-size: 16px;
      font-style: normal;
      line-height: 64px;
      padding: 0;
    }

    .select2-selection__arrow {
      height: 64px;
      right: 32px;
    }

    &:hover,
    &:focus {
      background: #f2f2f2;
      border: none;
      outline: none;
    }
  }

  .select2-dropdown {
    border-radius: 16px !important;
    padding: 12px;
    border: none;
    background: #f2f2f2;
  }

  .select2-search__field {
    @extend .input;

    background-color: #fff;
    border: none !important;
    height: 48px;

    &:focus,
    &:active,
    &:hover {
      background-color: #fff;
      border: none;
      outline: none;
    }
  }

  .select2-results__options {
    border-top: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0 0;
    padding: 12px 0 0;
  }

  .select2-results__option {
    border-radius: 12px;
    min-height: 48px;
    display: flex;
    align-items: center;

    &.select2-results__option--highlighted {
      background: #040f16;
    }
  }
}

.wc-block-cart-item {
  &__image {
    img {
      border-radius: var(--border_radius);
    }
  }

  &__prices {
    display: none;
  }

  &__remove-link {
    @extend .btn;
    @extend .btn--close;

    font-size: 0 !important;
    position: absolute;
    right: 0;
    top: 29px;

    &:hover {
      opacity: 0.5;
    }
  }

  &__total-price-and-sale-badge-wrapper {
    padding: 0 var(--spacer) 0 0;
  }
}

.wc-block-cart-items {
  &__row {
    position: relative;
  }
}

.wc-block-components-address-card {
  .wc-block-components-address-card__edit {
    @extend .btn;
    @extend .btn--secondary;

    &:hover {
      text-decoration: none;
    }
  }
}

.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link,
.wc-block-components-button {
  @extend .btn;
  @extend .btn--primary;
}

.wc-block-components-checkbox {
  &:hover {
    .wc-block-components-checkbox__label {
      &::before {
        border-color: $c_primary;
      }
    }
  }

  &__label {
    padding: 0 0 0 calc(var(--spacer) * 1.5);
    position: relative;

    &::before {
      align-items: center;
      border: 1px solid$c_border;
      color: #fff;
      content: '✔';
      display: flex;
      height: 20px;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 20px;
    }
  }

  .wc-block-components-checkbox {
    &__input[type='checkbox'] {
      left: -9999px !important;
      position: absolute !important;

      &:checked {
        + svg + .wc-block-components-checkbox__label {
          &::before {
            background-color: $c_primary;
          }
        }
      }
    }
  }
}

.wc-block-components-checkout-return-to-cart-button {
  @extend .btn;
  @extend .btn--secondary;

  padding-left: calc(var(--spacer) * 2.2) !important;

  svg {
    left: var(--spacer) !important;
  }
}

.wc-block-checkout__actions .wc-block-checkout__actions_row {
  gap: var(--spacer);
  justify-content: center !important;
}

.wc-block-components-textarea {
  resize: none;
}

.wc-block-components-notice-banner {
  &.is-error {
    background-color: $c_primary;
  }
}

.wc-block-components-order-summary {
  .wc-block-components-order-summary-item {
    &__individual-prices {
      display: none !important;
    }
  }
}

.wc-block-components-product-metadata {
  &__description {
    display: none;
  }
}

.wc-block-components-radio-control {
  &__input {
    left: -9999px !important;
    position: absolute;

    &:checked {
      + .wc-block-components-radio-control__option-layout {
        &::before {
          background-color: $c_primary;
          content: '✔';
        }
      }
    }
  }

  &__option {
    &:hover {
      .wc-block-components-radio-control {
        &__option-layout {
          &::before {
            border-color: $c_primary;
          }
        }
      }
    }

    input {
      border-radius: 50%;
      height: 20px;
      width: 20px;
    }
  }

  &__option-layout {
    &::before {
      align-items: center;
      border-radius: 50%;
      border: 1px solid $c_border;
      color: #fff;
      content: '';
      display: flex;
      height: 30px;
      justify-content: center;
      left: 13px;
      position: absolute;
      top: 13px;
      width: 30px;
    }
  }
}

.wc-block-components-title {
  text-align: left;
}

.woocommerce-MyAccount-content,
.woocommerce-billing-fields,
.woocommerce-checkout {
  select,
  select.country_select,
  select.state_select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #f2f2f2;
    border-radius: var(--border_radius);
    border: none;
    color: $c_text;
    cursor: pointer;
    font-size: 16px;
    height: 64px;
    padding: 0 32px 0 64px;
    width: 100%;

    &:active,
    &:focus,
    &:hover {
      background-color: #f2f2f2;
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}

.woocommerce-error {
  background-color: $c_primary;
  border-radius: var(--border_radius);
  border: 0 none;
  color: #fff;
  margin-bottom: var(--spacer);
  outline: none;
  padding: var(--spacer);
  text-align: center;
}

.woocommerce-input-wrapper {
  width: 100%;
}

.woocommerce-ordering {
  display: none;
}

.woocommerce-orders-table {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__cell-order-actions {
    a {
      margin-bottom: var(--spacer);

      &:last-child {
        margin: 0;
      }
    }
  }

  .woocommerce-button {
    @extend .btn;
    @extend .btn--link;
  }

  thead {
    display: flex;
    width: 100%;

    @media ($media_mobile) {
      display: none;
    }

    tr {
      display: flex;
      width: 100%;
      gap: 20px;
      padding: 16px;
      border-radius: 16px;
      background-color: #f6f6f6;

      th {
        width: 20%;
        text-align: left;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: #666;

        &:first-child {
          width: 20%;
        }

        &:last-child {
          width: 20%;
        }
      }
    }
  }

  tbody {
    display: flex;
    flex-direction: column;
    gap: 16px;

    tr {
      display: flex;
      width: 100%;
      gap: 20px;
      padding: 16px;
      border-radius: 16px;
      border: 1px solid rgba(0, 0, 0, 0.1);

      @media ($media_mobile) {
        flex-direction: column;
      }

      td {
        width: 20%;

        @media ($media_mobile) {
          width: 100%;
        }

        &::before {
          content: none;
          font-weight: 700;
          display: block;
          margin-bottom: 4px;
          color: #666;
          font-size: 12px;
          text-transform: uppercase;

          @media ($media_mobile) {
            content: attr(data-title);
          }
        }
      }

      th {
        text-align: left;
        width: 20%;

        @media ($media_mobile) {
          width: 100%;
        }

        &::before {
          content: none;
          font-weight: 700;
          display: block;
          margin-bottom: 4px;
          color: #666;
          font-size: 12px;
          text-transform: uppercase;

          @media ($media_mobile) {
            content: attr(data-title);
          }
        }
      }
    }
  }
}

.woocommerce-result-count {
  display: none;
}
