.woocommerce-result-count {
  display: none;
}

.woocommerce-ordering {
  display: none;
}

.woocommerce-breadcrumb {
  a,
  a:visited {
    color: $c_link;
    font-size: 16px;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}
