.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link,
.wc-block-components-button {
  @extend .btn;
  @extend .btn--primary;
}

.woocommerce-MyAccount-content,
.woocommerce-billing-fields,
.woocommerce-checkout {
  select,
  select.country_select,
  select.state_select {
    background: #f2f2f2;
    height: 64px;
    color: #040f16;
    border-radius: 16px;
    padding: 0 32px;
    font-size: 16px;
    border: none;
    width: 100%;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 64px;

    &:active,
    &:focus,
    &:hover {
      border: none;
      background-color: #f2f2f2;
      box-shadow: none;
      outline: none;
    }
  }
}

.select2-container {
  width: 100% !important;

  .select2-selection--single {
    background: #f2f2f2;
    height: 64px;
    color: #040f16;
    border-radius: 16px !important;
    padding: 0 32px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;

    .select2-selection__rendered {
      font-size: 16px;
      line-height: 64px;
      color: #040f16;
      padding: 0;
      font-style: normal;
    }

    .select2-selection__arrow {
      height: 64px;
      right: 32px;
    }

    &:hover,
    &:focus {
      background: #f2f2f2;
      border: none;
      outline: none;
    }
  }

  .select2-dropdown {
    border-radius: 16px !important;
    padding: 12px;
    border: none;
    background: #f2f2f2;
  }

  .select2-search__field {
    @extend .b-input;
    border: none !important;
    height: 48px;
    background-color: #fff;

    &:focus,
    &:active,
    &:hover {
      background-color: #fff;
      border: none;
      outline: none;
    }
  }

  .select2-results__options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 0 0;
    margin: 12px 0 0;
    border-top: 1px solid #e0e0e0;
  }

  .select2-results__option {
    border-radius: 12px;
    min-height: 48px;
    display: flex;
    align-items: center;

    &.select2-results__option--highlighted {
      background: #040f16;
    }
  }
}
