.header {}

.header_bottom {
	align-items: center;
	box-shadow: 0 2px 5px 0 rgba(#000, .1);
	display: flex;
	padding: 10px 30px 7px 27px;
}

.header_links {
	color: $c_menu;
	display: flex;
	margin: 15px 0 0 62px;

	&__item {
		margin: 0 18px 0 0;
	}

	&__link {
		color: $c_menu;
		text-decoration: none;
		transition: $transition;

		&:hover {
			color: $c_title;
		}
	}
}

.header_logo {
	display: block;
	margin: -34px 0 0;
	width: 76px;
}

.header_top {
	align-items: center;
	background-color: $c_primary;
	color: #fff;
	display: flex;
	padding: 6px 30px 9px 166px;

	&__icon {
		height: 16px;
		margin: 0 7px 0 0;
		width: 20px;
	}

	&__link {
		align-items: center;
		color: #fff;
		display: flex;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}